<?xml version="1.0" encoding="utf-8" ?>
<!-- https://github.com/nlog/NLog/wiki/Configuration-file#rules -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="Console" name="console" layout="${longdate} ${level:uppercase=true} ${event-properties:item=Correlation} ${event-properties:item=CallContext} ${event-properties:item=intent} ${event-properties:item=indent}${event-properties:item=Class}:${event-properties:item=Method} ${message} ${exception:format=tostring}"/>
    <target name="logfile"
            xsi:type="File"
            createDirs="true"
            fileName="${specialfolder:folder=CommonApplicationData}\Logs\${processname}_${processid}_${shortdate}.log"
            archiveFileName="${specialfolder:folder=CommonApplicationData}\Logs\${processname}_${processid}_${shortdate}_{###}.log"
            maxArchiveFiles="10"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence"
            concurrentWrites="false"
            layout="${longdate} ${level:uppercase=true} ${event-properties:item=Correlation} ${event-properties:item=CallContext} ${event-properties:item=intent} ${event-properties:item=indent}${event-properties:item=Class}:${event-properties:item=Method} ${message} ${exception:format=tostring}"
            archiveEvery="Day" >
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,console" />
  </rules>
</nlog>