<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log" >
			<layout xsi:type="CsvLayout" delimiter="Tab" quoting="Nothing">
				<column name="date" layout="${longdate}" />
				<column name="thread" layout="THREAD ${event-properties:item=threadIdOfMessageCreator}" />
				<column name="level" layout="${level:uppercase=true}:" />
				<column name="type" layout="${event-properties:item=typeOfMessageCreator}" />
				<column name="class" layout="${event-properties:item=classOfMessageCreator}"/>
				<column name="method" layout="${event-properties:item=methodOfMessageCreator}" />
				<column name="messag" layout="${event-properties:item=indent}${message}" />
				<column name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
	</targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>