<?xml version="1.0" encoding="utf-8" ?>

<!--This is a sample NLog.config file. It uses a file in the applications basedir/Logs/ folder as target, with CsvLayout..-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
		<target name="debugger" xsi:type="Debugger" layout="${longdate}|CONTEXT ${event-properties:item=callerContextId}|${level:uppercase=true}:|${event-properties:item=typeOfMessageCreator}|${event-properties:item=classOfMessageCreator}|${event-properties:item=callerMethodName}|${event-properties:item=indent}${message}|${exception:format=tostring}"/>
    <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}\Logs\${processname}_${processid}.log" >
			<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
				<column name="date" layout="${longdate}" />
				<column name="thread" layout="THREAD ${event-properties:item=threadIdOfMessageCreator}" />
				<column name="level" layout="${level:uppercase=true}:" />
				<column name="type" layout="${event-properties:item=typeOfMessageCreator}" />
				<column name="class" layout="${event-properties:item=classOfMessageCreator}"/>
				<column name="method" layout="${event-properties:item=methodOfMessageCreator}" />
				<column name="message" layout="${event-properties:item=indent}${message}" />
				<column name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
	</targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,debugger" />
  </rules>
</nlog>