<?xml version="1.0" encoding="utf-8" ?>

<!--This is a sample NLog.config file. It uses a file in the applications basedir/Logs/ folder as target, with CsvLayout.
		Rename it from NLog.config.sample => NLog.config to use it.-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
		<target xsi:type="Console" name="console" layout="${longdate} ${event-properties:item=CallContext} ${level:uppercase=true} ${event-properties:item=indent}${event-properties:item=Class}:${event-properties:item=Method} ${message} ${exception:format=tostring}"/>
    <target name="logfile" 
						xsi:type="File" 
						createDirs="true"
						fileName="${specialfolder:folder=CommonApplicationData}\Logs\${processname}_${processid}_${shortdate}.log"
						archiveFileName="${specialfolder:folder=CommonApplicationData}\Logs\${processname}_${processid}_${shortdate}_{###}.log"
						maxArchiveFiles="10" 
						archiveAboveSize="1048576"
						archiveNumbering="Sequence"
						concurrentWrites="false" 
						archiveEvery="Day" >
			<layout xsi:type="CsvLayout" delimiter="Space" withHeader="false" quoting="Nothing">
				<column name="date" layout="${longdate}" />
				<column name="thread" layout="${event-properties:item=CallContext}" />
				<column name="level" layout="${level:uppercase=true}" />
				<column name="class_method" layout="${event-properties:item=indent}${event-properties:item=Class}:${event-properties:item=Method}"/>
				<column name="message" layout="${message}" />
				<column name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
	</targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,console" />
  </rules>
</nlog>