<?xml version="1.0" encoding="utf-8" ?>

<!--This is a sample NLog.config file. It uses a file in the applications basedir/Logs/ folder as target, with CsvLayout.
		Rename it from NLog.config.sample => NLog.config to use it.-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
		<target xsi:type="Console" name="console" layout="${longdate}|CONTEXT ${event-properties:item=CallContext}|${level:uppercase=true}:|${event-properties:item=Type}|${event-properties:item=Class}|${event-properties:item=Method}|${event-properties:item=indent}${message}|${exception:format=tostring}"/>
    <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}\Logs\${processname}_${processid}.log" >
			<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
				<column name="date" layout="${longdate}" />
				<column name="thread" layout="THREAD ${event-properties:item=CallContext}" />
				<column name="level" layout="${level:uppercase=true}:" />
				<column name="type" layout="${event-properties:item=Type}" />
				<column name="class" layout="${event-properties:item=Class}"/>
				<column name="method" layout="${event-properties:item=Method}" />
				<column name="message" layout="${event-properties:item=indent}${message}" />
				<column name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
	</targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,console" />
  </rules>
</nlog>