<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
		<target xsi:type="Console" name="console" layout="${longdate}|THREAD ${event-properties:item=callerContextId}|${level:uppercase=true}:|${event-properties:item=typeOfMessageCreator}|${event-properties:item=classOfMessageCreator}|${event-properties:item=callerMethodName}|${event-properties:item=indent}${message}|${exception:format=tostring}" />
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/test.log" >
			<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
				<column name="date" layout="${longdate}" />
				<column name="thread" layout="THREAD ${event-properties:item=callerContextId}" />
				<column name="level" layout="${level:uppercase=true}:" />
				<column name="type" layout="${event-properties:item=typeOfMessageCreator}" />
				<column name="class" layout="${event-properties:item=classOfMessageCreator}"/>
				<column name="method" layout="${event-properties:item=callerMethodName}" />
				<column name="message" layout="${event-properties:item=indent}${message}" />
				<column name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
	</targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,logfile" />
  </rules>
</nlog>