<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
		<target xsi:type="Console" name="console" layout="${longdate}|CONTEXT ${event-properties:item=CallContext}|${level:uppercase=true}:|${event-properties:item=Type}|${event-properties:item=Class}|${event-properties:item=Method}|${event-properties:item=indent}${message}|${exception:format=tostring}" />
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/test.log" >
			<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
				<column name="date" layout="${longdate}" />
				<column name="thread" layout="THREAD ${event-properties:item=CallContext}" />
				<column name="level" layout="${level:uppercase=true}:" />
				<column name="type" layout="${event-properties:item=Type}" />
				<column name="class" layout="${event-properties:item=Class}"/>
				<column name="method" layout="${event-properties:item=Method}" />
				<column name="message" layout="${event-properties:item=indent}${message}" />
				<column name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
    <target type="Memory" name="contextTarget" layout="${event-properties:item=CallContext}">
    </target>
	</targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="contextTarget" />
  </rules>
</nlog>