<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="Console" name="console" layout="${longdate} ${pad:padding=5:fixedlength=true:${level:uppercase=true}} ${message} ${exception:format=tostring}"/>
    <target name="logfile"
            xsi:type="File"
            createDirs="true"
            fileName="${specialfolder:folder=CommonApplicationData}\Logs\${processname}_${processid}_${shortdate}.log"
            archiveFileName="${specialfolder:folder=CommonApplicationData}\Logs\${processname}_${processid}_${shortdate}_{###}.log"
            maxArchiveFiles="10"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence"
            concurrentWrites="false"
            layout="${longdate} ${pad:padding=5:fixedlength=true:${level:uppercase=true}} ${event-properties:item=Correlation} ${event-properties:item=CallContext} ${event-properties:item=Class}:${event-properties:item=Method} ${message} ${exception:format=tostring}"
            archiveEvery="Day" >
    </target>
    <target name="syslog" xsi:type="Syslog" layout="${machinename} ${processname} ${longdate} ${level:uppercase=true} ${event-properties:item=Correlation} ${event-properties:item=CallContext} ${event-properties:item=Class}:${event-properties:item=Method} ${message} ${exception:format=tostring}">
      <messageCreation>
        <facility>Local7</facility>
        <rfc>Rfc5424</rfc>
        <rfc5424>
          <appName xsi:type="SimpleLayout" text="Sandbox" />
        </rfc5424>
      </messageCreation>
      <messageSend>
        <protocol>TCP</protocol>
        <tcp>
          <server>logs5.papertrailapp.com</server>
          <port>18882</port>
          <tls>
            <enabled>true</enabled>
          </tls>
        </tcp>
      </messageSend>
    </target>
    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,console,syslog" />
  </rules>
</nlog>